<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/ecommerce_platform?serverTimezone=Europe/Warsaw&amp;createDatabaseIfNotExist=true</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- MODELS DEFINITION -->
        <mapping class="ecommerce.model.CartItem"/>
        <mapping class="ecommerce.model.Gender"/>
        <mapping class="ecommerce.model.Order"/>
        <mapping class="ecommerce.model.OrderItem"/>
        <mapping class="ecommerce.model.Product"/>
        <mapping class="ecommerce.model.ProductCategory"/>
        <mapping class="ecommerce.model.ProductInventory"/>
        <mapping class="ecommerce.model.Size"/>
        <mapping class="ecommerce.model.User"/>
    </session-factory>
</hibernate-configuration>